:root {
  --bg-color: #263238;
  --box-width: 200px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

p {
  color: #fafafa;
}

div {
  margin: 5%;
}

header > h1 {
  color: #fafafa;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

ul {
  color: #fafafa;
  line-height: 3.75rem;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: #fafafa;
}

#links {
  display: flex;
  flex-direction: column;
}

#weather,
#links,
#time {
  min-height: 550px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#time {
  border: 2px solid;
  border-image: linear-gradient(
    to left,
    #00838f 1%,
    rgba(128, 216, 255, 1) 100%
  );
  transition: 1s;
  border-image-slice: 1;
  text-align: center;
  font-size: 3rem;
}

#time > p {
  padding: 1rem;
}

#links {
  border: 2px solid;
  border-image: linear-gradient(
    to left,
    rgba(255, 145, 0, 1) 1%,
    rgba(236, 64, 122, 1) 100%
  );
  border-image-slice: 1;
}

#weather {
  border: 2px solid;
  border-image: linear-gradient(to left, #69f0ae 1%, #c6ff00 100%);
  border-image-slice: 1;
  padding: 0;
}

.weather {
  padding: 10%;
}

#weather-canvas {
  height: auto;
  margin: 0 auto;
}

#weather-top-row {
  text-align: center;
}

#weather-city {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

#temperature-para {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
}
